<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vegan Homies Blog</title>
    <link rel="stylesheet" href="/public/css/blog.css">
  </head>
  <body>
    <center><h1>Vegan Homies Blog</h1></center>
    <%
      for(var blogPost of blogPosts){
    %>
      <div class="blog-post">
        <div class="blog-title"><%= blogPost.title %></div>
        <div class="blog-auth-and-time">Written by <%= blogPost.author %> at <%= dateformat(blogPost.entryTime)%>.</div>
        <% if (blogPost.image_url) { %>
          <div class="blog-image"><img src="<%= blogPost.image_url %>"></div>
        <% } %>
        <div class="blog-body"><%- blogPost.body %></div>
      </div>
    <%
      }
    %>
  </body>
</html>
