<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vegan Homies Blog</title>
    <link rel="stylesheet" href="/public/css/blog.css">
  </head>
  <body>
    <center><img src="/public/img/Vegan Homies Blog Banner.jpg"></center>
    <%
      for(var blogPost of blogPosts){
    %>
      <center>
        <div class="blog-post">
          <div class="blog-title"><%= blogPost.title %></div>
          <div class="blog-auth-and-time">Written by <%= blogPost.author %> at <%= dateformat(blogPost.entryTime)%>.</div>
          <% if (blogPost.image_url) { %>
            <div class="blog-image"><img src="<%= blogPost.image_url %>"></div>
          <% } %>
          <div class="blog-body"><%- blogPost.body %></div>
        </div>
      </center>
    <%
      }
    %>
    <div class="blog-pagination">
      <%
        if(pageInfo.currentPage == 1){
          %>&lt&lt&nbsp&lt&nbsp<%
        } else {
          %><a href="/blog?page=1">&lt&lt</a>&nbsp<a href="/blog?page=<%= pageInfo.currentPage-1 %>">&lt</a>&nbsp<%
        }
        for (var i = 1; i <= pageInfo.pageCount; i++) {
          if(i == pageInfo.currentPage) {
            %><%= i %>&nbsp<%
          } else {
            %><a href="/blog?page=<%= i %>"><%= i %></a>&nbsp<%
          }
        }
        if(pageInfo.currentPage == pageInfo.pageCount) {
          %>&gt&nbsp&gt&gt&nbsp<%
        } else {
          %><a href="/blog?page=<%= pageInfo.currentPage+1 %>">&gt</a>&nbsp<a href="/blog?page=<%= pageInfo.pageCount %>">&gt&gt</a>&nbsp<%
        }
      %>
    </div>
  </body>
</html>
